
  
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApJSiSUsLJybuEfqN2PrHwSeAMinIm88A">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 39.952641, lng: -75.164052},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
			
		// To add the marker to the map, use the 'map' property
		var marker = new google.maps.Marker({
			position: { lat: 39.952641, lng: -75.164052},
			map: map,
			title:"Hello World!"
		});
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>


	
		
			<div id="map-canvas"></div>


      <!-- OLD MAP CODE FOR CONTROLLER  // To add the marker to the map, use the 'map' property
    var marker = new google.maps.Marker({
      position: { lat: 39.952641, lng: -75.164052},
      map: map,
      title:"Hello World!"
    });
      }
      //google.maps.event.addDomListener(window, 'load', initialize);
      $scope.centerOnMe = function() {
        if(!$scope.map) {return;}

        $scope.loading = $ionicLoading.show({
          content: 'Getting current location...',
          showBackdrop: false
        });

        navigator.geolocation.getCurrentPosition(function(pos) {
          $scope.map.setCenter(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
          $scope.loading.hide();
        }, function(error) {
          alert('Unable to get location: ' + error.message);
        });
    };
    $scope.clickTest = function() {
        alert('Example of infowindow with ng-click')
    };
})

.controller('PlaylistCtrl', function($scope, $stateParams) {
});

-->
			
