<ion-modal-view>
<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Forage</h1>
  </ion-header-bar>

  <ion-content ng-controller="loginCtrl">
    <!-- Buttons -->
    <button class="button button-full button-positive login" ng-click="login('facebook')">Login with Facebook</button>
    <button class="button button-full button-outline button-assertive" ng-click="logout()">Logout</button>

    <!-- Logged-in user text -->
    <div class="card">
      <div class="item item-text-wrap" ng-hide="user">User not logged in</div>
      <div class="item item-text-wrap" ng-show="user" ng-bind="user.uid"></div>
    </div>
  </ion-content>
</ion-pane>

</ion-modal-view>
