<ion-view view-title="Forage Map"> 
  <ion-content has-header="true" has-footer="true" scroll="false">
    <div id="map-container">
        <div id="map-canvas"></div>
    </div>

    <div class="address-form" reverse-geocode>
        <form novalidate class="simple-form">
            Address: <input type="text" ng-model="location.address" />
            <input type="submit" ng-click="action.submitForm(location.address)" value="Save" />
            <hr class="divider"></hr>
            <a ng-click="action.centerOnMe()" class="button-locate button-icon icon ion-pinpoint">Locate</a>
            <p ng-if="success">
                Awesome, we have you at:</br>
                {{ currentAddress }}
            </p>
            <p ng-if="!success">{{ failureMsg }}</p>
        </form>
    </div>
    
    </ion-content>
    <ion-footer-bar class="bar-dark"> <a ng-click="action.centerOnMe()" class="button button-icon icon ion-navigate">Center On Me</a></ion-footer-bar>
</ion-view>
    

    
    



  
    

      
