


* {
-webkit-touch-callout: none;
-webkit-user-select: none;
}

input,
textarea {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
}

body {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	background-color:#555;
}
* {
    font-family:'SansationRegular', Arial, sans-serif;
    letter-spacing: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.subtext {
    font-size:0.85em;
    font-color: #888;
}

/*ViewNavigator Styles*/



/*APPLICATION VIEWS*/

.right {
    position:absolute;
    right:0.75em;
    top:0.5em;
}

.padded {
    padding:1em;
}

.button {
    padding:.1em;
    cursor:pointer;
    border:1px solid #999;
    background-color: #046E45;
    color: white;
    text-decoration:none;
}

.button:active {
    background-color: #D9D900;
}

.scroll {
  height: 100%;
}

#map-canvas { 
    height: 100%; 
    width:100%;
    position: absolute;
    margin: 0; 
    padding: 0;
}

button.button.button-full.button-positive.login {
    margin-top:44px;

}